// Main Primary color - greens */
$color-primary-base: #19E03C;	//base
$color-primary-lt: #ADF0B9;  //lt
$color-primary-med: #54E36D;  //med
$color-primary-dk: #00CE24;	//dk
$color-primary-vdk: #009019;	//vdk

// Main Secondary color (1) - golds */
$color-secondary-1-base: #FFB31C;	
$color-secondary-1-lt: #FFE7B8;
$color-secondary-1-med: #FFCA5F;
$color-secondary-1-dk: #FFAA00;
$color-secondary-1-vdk: #BD7E00;

// Main Secondary color (2) - purples*/
$color-secondary-2-base: #A71ED2;	
$color-secondary-2-lt: #DBABEA;
$color-secondary-2-med: #B855D7;
$color-secondary-2-dk: #8C03B8;
$color-secondary-2-vdk: #5F027D;