// Main Primary color - greens */
$color-primary-base: #19E03C;	//base
$color-primary-lt: #ADF0B9;  //lt
$color-primary-med: #54E36D;  //med
$color-primary-dk: #00CE24;	//dk
$color-primary-vdk: #009019;	//vdk

// Main Secondary color (1) - golds */
$color-secondary-1-0: #FFB31C;	
$color-secondary-1-1: #FFE7B8;
$color-secondary-1-2: #FFCA5F;
$color-secondary-1-3: #FFAA00;
$color-secondary-1-4: #BD7E00;

// Main Secondary color (2) - purples*/
$color-secondary-2-0: #A71ED2;	
$color-secondary-2-1: #DBABEA;
$color-secondary-2-2: #B855D7;
$color-secondary-2-3: #8C03B8;
$color-secondary-2-4: #5F027D;